.task {
    display: flex;
    width: 100%;
    min-height: 5rem;
    align-items: center;
    padding: 0 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--color-primary);
}

.completado {
    background: rgb(127, 213, 253);
    border: 1px solid rgb(127, 213, 253);
}

.completado p {
    text-decoration: line-through;
    color: white;
}

.task p {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    text-align: justify;
    cursor: pointer;
}

.icon-container {
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}